@page
@using Microsoft.eShopWeb.Web.Areas.Identity.Pages.Account
@model LoginModel
@addTagHelper *, Microsoft.AspNetCore.Mvc.TagHelpers
@{
    Layout = "/Views/Shared/_Layout.cshtml";
    ViewData["Title"] = "Login";
}
<section class="esh-catalog-hero">
    <div class="container">
        <img class="esh-catalog-title" src="~/images/main_banner_text.png" />
    </div>
</section>
<div class="container">
    <div class="row">
        <div class="col-md-6 col-sm-12">
            <h1 class="mb-4">Sign in</h1>
            <form method="post" class="esh-form" asp-route-returnUrl="@Model.ReturnUrl">
                <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                <div class="form-group mb-3">
                    <label asp-for="Input.Email" class="control-label">Email</label>
                    <input asp-for="Input.Email" class="form-control esh-input" autocomplete="username" />
                    <span asp-validation-for="Input.Email" class="text-danger"></span>
                </div>
                <div class="form-group mb-3">
                    <label asp-for="Input.Password" class="control-label">Password</label>
                    <input asp-for="Input.Password" class="form-control esh-input" autocomplete="current-password" />
                    <span asp-validation-for="Input.Password" class="text-danger"></span>
                </div>
                <div class="form-group form-check mb-4">
                    <input asp-for="Input.RememberMe" class="form-check-input" />
                    <label asp-for="Input.RememberMe" class="form-check-label"></label>
                </div>
                <button type="submit" class="btn esh-basket-checkout">[ Login ]</button>
                <a asp-page="/Account/Register" class="btn esh-basket-checkout ms-2">[ Register ]</a>
            </form>
        </div>
    </div>
</div>
@section Scripts {
    <partial name="_ValidationScriptsPartial" />
}
